html {
    margin: auto;
    width: 100%;
    background-color: #505;
    font-family: 'Lacquer', sans-serif;
    font-size: 1.5em;
}

body {
    margin: 12px;
    padding: 15px;
    border-radius: 10px;
    background-color: #000;
    color: #080;
    
}

h1 {
    position: relative;
    left: 250px;
    width: 150px;
    padding: 20px;
}

section {
    position: relative;
    top: 165px;
}

footer {
    position: relative;
    top: 500px;
}

/* nav {
    position: relative;
    left: 150px;
    width: 250px;
}

nav li {
    padding: 10px;
} */

table {
    border: 2px solid #080;
    border-radius: 5px;
}

th {
    border-bottom: 2px solid #080;
    border-left: 1px solid #080;
    border-right: 1px solid #080;
}

td {

    border-left: 1px solid #080;
    border-right: 1px solid #080;
    padding: 5px 15px 15px 5px;
}

.left-15 {
    position: relative;
    left: 15px;
}

.padding-bottom-150 {
    padding-bottom: 500px;
}

a:link {
    color: #080;
}

a:visited {
    color: #69F;
}

a:hover {
    color: #0F0;
}

A:active {
    color: #000;
}

img {
    border-radius: 2%;
    border: 2px solid #080;
}

#container {
    width: auto;
    height: 100%;
    border: 2px solid green;
    padding-bottom: 500px;
}

#image-caption {
    word-wrap: normal;
    width: 395px;
    padding-bottom: 10px;
}

#topic-image {
    position: absolute;
    top: 20px;
    right: 10px;
}

#favorite-links-menu {
    /* padding: 2px; */
    position: relative;
    width: 500px;
    left: 135px;
    bottom: 80px;
}

#favorite-links li {
    display: inline-block;
    width: 195px;
    height: 35px;
    padding: 5px;
    border: 2px solid #080;
    text-align: center;
    border-radius: 15px;
    background-color: #505;
    margin: 5px;

}

#main-links {
    position: relative;
    width: 500px;
    left: 135px;
    bottom: 20px;
}

#main-links li {
    display: inline-block;
    width: 195px;
    height: 35px;
    padding: 5px;
    border: 2px solid #080;
    text-align: center;
    border-radius: 15px;
    background-color: #505;
    margin: 5px;


}

.scale-600px {
    width: 600px;
    height: auto;
}

.clearfix {
    overflow: auto;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}